<!DOCTYPE html>  
<html lang="en">  
  <body>  
    <h1>Cucumber - Sinatra - PC2</h1>
	<form >
		<label for="principal">Debe completar todos los campos </label> 
		<br />
		<br />	
		<li><a  href="/"> Modificar registro   </a></li>			
	</form>
  </body>  
</html>
