<form method="post" action="/registro">

<html lang="en">  
  <body>  
    <h1>Cucumber - Sinatra - PC2</h1>
<form >
	<label for="principal">Nombre        </label> <input name="pNombre" /> <br />
	<label for="principal">E-mail           </label> <input name="pEmail" /> <br />
	<label for="principal">Comentario </label> <input name="pComentario" /> <br />
	<br />
	<br />	
			<input type = "submit" value = "Registro"> 		

</form>

  </body>  
</html>

