<!DOCTYPE html>  
<html lang="en">  
  <body>  
    <h1>Cucumber - Sinatra - PC2</h1>
<form >
	<label for="principal">Nombre        </label> <input name="pNombre" /> <br />
	<label for="principal">E-mail           </label> <input name="pEmail" /> <br />
	<label for="principal">Comentario </label> <input name="pComentario" /> <br />
	<br />
	<br />	
	 <li><a  href="/registro"> Registro   </a></li>	
</form>

  </body>  
</html>
