<!DOCTYPE html>  
<html lang="en">  
  <body>  
    <h1>Cucumber - Sinatra - PC2</h1>
	<form >
		<label for="principal">Se registro el comentario </label> 		
		<br />
		<br />	
		<li><a  href="/"> Otro registro   </a></li>	
	</form>
  </body>  
</html>
